.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.menu-bar {
  display: flex;
  padding: 2em;
  margin: 4em;
  background-color: antiquewhite;
}

.menu-bar li {
  list-style: none;
  margin-right: 10px;
}

.menu-bar li:hover {
  text-decoration: solid underline red 1px;
  text-underline-position: under;
}

.selected {
  text-decoration: solid underline rgb(90, 12, 2) 4px;
  text-underline-position: under;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
